<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>{% block tittle%}Template de Listado{% endblock tittle%}</title>
    <h1>{% block main%}Listado de Personas{% endblock %}</h1>

    
    
</head>
{% block body %}
<body>
    <table border="2">
    <thead>
        <tr>
            <th>ID</th>
            <th></th>
            <th>Primer Nombre</th>
            <th></th>
            <th>Primer Apellido</th>
            <th></th>
            <th>Fecha de Nacimiento</th>
            <th></th>
            <th>Direccion de recidencia</th>
            <th></th>
            <th>Telefono</th>
            <th></th>
            <th>Identificacion</th>
            <th></th>
            <td></td>
            <td></td>
            <th>Opcion 1</th>
            
            
            
        </tr>
    </thead>  
    <tbody>
        {% for Persona in object_list %}
            <tr>
                <td>{{ Persona.idpersona}}</td>
                <td></td>
                <td>{{ Persona.primer_nombre }}</td>
                <td></td>
                <td>{{ Persona.primer_apellido }}</td>
                <td></td>
                <td>{{ Persona.fecha_nacimiento }}</td>
                <td></td>
                <td>{{ Persona.direccion }}</td>
                <td></td>
                <td>{{ Persona.telefono }}</td>
                <td></td>
                <td>{{ Persona.identificacion }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="{% url 'editar_persona' Persona.idpersona %}">EDITAR</a>  <a href="{% url 'eliminar_persona' Persona.idpersona %}">ELIMINAR</a></td>
                
            </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
{% endblock body %}
</html>